@charset "UTF-8";
/* CSS Document */

body{
font-family: arial;
    min-height: 850px;
	    display: block;	
}
h3{
    border-bottom: 1px solid #366799;
    color: #366799;
    font-size: 19px;
    margin: 0 0 17px;
    padding: 0 0 5px;
    display: inline-block;
    text-transform: uppercase;
}
div{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*{
	word-spacing: 10px;
    letter-spacing: 1px;
}
h4{
	font-size: 14px;
	 vertical-align: baseline;
      display: inline-block;
	   border-bottom: 1px solid #366799;
	   color: rgba(56,8,8,1.00)
}
